.available-meals {
  /* padding: 2rem; */
  width: 55rem;
  z-index: 1;
  animation: slide-down 700ms ease-out forwards;
}
.available-meals ul {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .available-meals ul li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 0.1rem solid rgba(110, 109, 108, 0.192);
  list-style: none;
} */

@media screen and (max-width: 480px) {
  .available-meals {
    width: 30rem;
  }
}
