.backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.63);
  z-index: 21;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  /* right: 33%;
  top: 33%;
  position: fixed;
  width: 40rem; */
  display: flex;
  padding: 1rem;
  background-color: white;
  /* z-index: 21; */
  border-radius: 1rem;
  box-shadow: 0 2px 8px black;
  animation: slide-down 300ms ease-out forwards;
  scroll-behavior: smooth;
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
